.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(#e9e8e8, #ffffff);
    height: 4rem;
    position: fixed;
}

.logo {
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    justify-content: center;
    width: 30%;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.links {
    display: flex;
    justify-content: center;
    color: #535353;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    width: fit-content;
}

.links:hover{
    background-color: #949494;
    color: #ffffff;
}

.dropdown {
    display: flex;
    justify-content: center;
    position: relative;
    color: #535353;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    width: fit-content;
}

/* .dropdown:hover{
    background-color: #949494;
    color: #ffffff;
} */

.dropdownButton {
    background: none;
    border: none;
    color: #535353;
    cursor: pointer;
    width: fit-content;
}

.dropdownButton:hover{
    background-color: #949494;
    color: #ffffff;
}

/* 👇 CLAVE */
.dropdownMenu {
    position: absolute;
    top: 120%;
    left: 0;
    background: #222;
    border-radius: 8px;
    min-width: 180px;
    padding: 0.5rem 0;
    z-index: 1000;
}

.dropdownMenu li {
    list-style: none;
}

.dropdownMenu a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.dropdownMenu a:hover {
    background: #333;
}
